@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , arial;
    
}
body{
    background-color: #F2F2F2;

}
.menu{
    display: grid;
    align-items: center;
    height: clamp(25px, 8.5vh, 100px);
    background-color: #e6e6e6;
    
}

.menu ul{
    display: flex;
    justify-content:space-between;
    list-style: none;

}

.menu #pts, #cronometro{
    margin-top: clamp(8px, 8vh, 27px);
    padding: 0 2vw;
    font-weight: 450;
}

#pts_jogo{
    color: #9E9E9E;
}

.centro{
    display: grid;
    padding-top: clamp(10px, 10vh, 80px);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'cima'
    'baixo'
    ;
}

.img_bandeira{
    display: flex;
    grid-area: 'cima';
    align-items: center;
    justify-content: center;

}

#bandeira{
    width: clamp(80px, 35%, 400px);
}

#img_logo img{
    width: clamp(20px, 9.2vw, 195px);
   
}

#img_logo{
    margin-bottom: clamp(5px, 4vh, 15px);
}

.button{
    width: clamp(10px, 45vw, 150px);
    height: clamp(20px, 5vh, 50px);
}
.opcoes {
    margin-top:clamp(25px, 10vh, 65px) ;
    display: flex;
    grid-area: 'baixo';
    flex-wrap: wrap;
    justify-self: center; 
    gap: 5px 20px; 
    width: 100%;
    height: 100%;
    max-width: 300px; 
}

.button {
    flex: 1 1 calc(50% - 10px); 
    max-width: 250px; 
    height: clamp(40px, 10vh, 80px);
    font-size: 1rem;
}